#spotlight {
    box-sizing: border-box;
    padding: 50px 0 0;
    /* position: fixed; */
    min-height: calc(100% - 102px);
    width: 100%;
    background: url("../assets/images/wave-white.png") no-repeat;
    background-position: 0 -160px;
}
#spotlight .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#spotlight .left {
    padding-top: 42px;
}
#spotlight .left h1,#spotlight .left > p  {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: 54px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #111;
}
#spotlight .left > p {
    margin-bottom: 32px;
    font-size: 25px;
    font-weight: 600;
}
#spotlight .left h1 span {
    color: #36174d;
    font-size: 56px;
    font-weight: 600;
}
#spotlight .left .about {
    display: flex;
    align-items: flex-start;
    margin-bottom: 46px;
}
#spotlight .left .about span.line {
    display: inline-block;
    width: 30px;
    height: 2px;
    background: #000;
    margin-top: 10px;
}
#spotlight .left .about p {
    display: inline-block;
    margin-left: 32px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
}
#spotlight .left .links {
    margin-bottom: 100px;
}
#spotlight .left .links a {
    margin-right: 24px;
    font-weight: 600;
    padding: 20px 40px;
    border-radius: 25px;
}
#spotlight .left .links a.link {
    background: #36174d;
    color: #fff;
}
#spotlight .left .links a.link2 {
    background: #f3effe;
    color: #36174d;
}
#spotlight .left .social {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
#spotlight .left .social span {
    color: #36174d;
    font-weight: 600;
}
#spotlight .left .social ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 32px;
}
#spotlight .left .social ul li {
    display: block;
    margin-right: 24px;
    width: 40px;
}
#spotlight .left .social ul li a {
    display: block;
    width: 100%;
}
#spotlight .left .social ul li a img {
    display: block;
    width: 100%;
}
/* #spotlight .right {} */
#spotlight .right img {
    display: block;
    width: 700px;
    margin-bottom: 55px;
}

/* media queries  */

/* @media all and (max-width:1440px){}
@media all and (max-width:1280px){}
@media all and (max-width:1024px){}
@media all and (max-width:960px){}
@media all and (max-width:720px){}
@media all and (max-width:640px){}
@media all and (max-width:480px){}
@media all and (max-width:360px){}
@media all and (max-width:320px){} */

@media all and (max-width: 1440px) {
    #spotlight .left .links a {
        padding: 10px 25px;
    }
    #spotlight .right img {
        width: 550px;
        margin-bottom: 32px;
    }
}
/* @media all and (max-width:1280px){} */
@media all and (max-width: 1024px) {
    #spotlight .left .social span {
        font-size: 14px;
    }
}
@media all and (max-width: 960px) {
    #spotlight .right img {
        width: 370px;
    }
}
@media all and (max-width: 768px) {
    #spotlight {
        background: none;
    }
    #spotlight .left h1 {
        font-size: 45px;
    }
    #spotlight .left h1 span {
        font-size: inherit;
    }
    #spotlight .left .about p {
        font-size: 14px;
    }
    #spotlight .left .links a {
        padding: 10px 15px;
    }
}
@media all and (max-width: 640px) {
    #spotlight .wrapper {
        flex-direction: column-reverse;
    }
}
@media all and (max-width: 480px) {
    #spotlight .left h1 {
        font-size: 40px;
    }
    #spotlight .right img {
        margin-bottom: 0;
    }
}
@media all and (max-width: 360px) {
}
@media all and (max-width: 320px) {
}
